header {
	position: sticky;
	top: 0;
	box-sizing: border-box;
	flex: none;
	font-size: 120%;
	padding: 1em;
	width: 100%;
	background: #ff004d;
}

main {
	margin: auto;
	width: 100%;
	padding: 1rem 0;
}

main>.grids {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

main>.grids>.grid {
	align-content: center;
	width: 32vh;
	height: 32vh;
	width: min(40vw, 32vh);
	height: min(40vw, 32vh);
	border: solid 2px #5f574f;
}

main>.output {
	margin-top: 1em;
	flex: none;
}

main>hr {
	border: solid 1px #5f574f;
	width: 80%;
}

footer {
	position: sticky;
	bottom: 0;
	box-sizing: border-box;
	flex: none;
	font-size: 80%;
	padding: 1em;
	width: 100%;
	background: #ff004d;
	color: #7e2553;
}

footer>*:not(:last-child)::after {
	color: #7e2553;
	content: '|';
	display: inline-block;
}
