.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background: #1d2b53;
}

.app>header {
	box-sizing: border-box;
	flex: none;
	font-size: 120%;
	padding: 1em;
	width: 100%;
	background: #ff004d;
}

.app>main {
	flex: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: auto;
}

.app>main>.grids {
	display: flex;
	align-items: center;
	justify-content: center;
}

.app>main>.grids>.grid {
	align-content: center;
	width: 32vh;
	height: 32vh;
	border: solid 2px #5f574f;
}

.app>main>.grids>.preview {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 2px;
	grid-auto-rows: min-content;
	background: #5f574f;
	border: solid 2px #5f574f;
	margin-left: 1em;
	width: 32vh;
	height: 32vh;
}

.app>main>.output {
	margin-top: 1em;
	flex: none;
}

.app>main>hr {
	border: solid 1px #5f574f;
	width: 80%;
}

.app>footer {
	box-sizing: border-box;
	flex: none;
	font-size: 80%;
	padding: 1em;
	width: 100%;
	background: #ff004d;
	color: #7e2553;
}

.link::after {
	color: #7e2553;
	content: '|';
	display: inline-block;
}

@media screen and (max-height: 30em) {
	.app>header,
	.app>footer {
		display: none;
	}
}
