.colour-picker {
	margin-top:.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.colour-picker>.colour {
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
	padding: 0;
	border: solid 1px #5f574f;
}

.colour-picker>.colour.active {
	border-color: #fff1e8;
	transform: scale(1.1);
}

.colour-picker>.colour>input{
	display: none;
}
