.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 2px;
	grid-auto-rows: min-content;
	background: #5f574f;
}

.grid > .cell {
	box-sizing: border-box;
	background: #fff1e8;
}

.grid > .cell.on {
	background: #000000;
}
