.output {
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-direction: column;
	font-size: 80%;
	align-items: center;
}

.output>input {
	padding:0;
	color: #29adff;
	font-family: inherit;
	text-transform: inherit;
	white-space: nowrap;
	overflow: auto;
	background: transparent;
	border: none;
	cursor: copy;
	user-select: text;
}
.output>input:focus{
	outline: none;
}

.output>label {
	color: #00e436;
	padding: 0.5em;
	text-align: right;
}

.output>.copy-notif{
	text-align: center;
	grid-column-end: span 2;
	height: 1em;
}
